html {
  height: 100%;
  width: 100%;
}
h1 {
  text-align: center;
 font-family: helvetica;
}
img {
  padding-top: 75px;
  
  border-radius: 50 0 50 0px;
  width: 100%;
  

}
body {
  background-color: white;
}
 
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.item {
 border: 2px solid #0a40bd;
 padding: 10px;
 margin: 5px;
  background-color: #0a40bd;
  color: white;
  border-radius: 100px;
  text-align: center;
  flex-direction: column;
  display: flex;
}

.link {
  color: white;
}

.details {
 font-family: helvetica;
}

a {
  text-align: center;
}

.botão {
   border: 2px solid black;
 padding: 10px;
 margin: 5px;
  background-color: black;
    border-radius: 100px;
  color: white;
}

.linha {
  background-color: black;
  border: 1px solid black;
}
